@charset "UTF-8";
/* Обнуление стилей */
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Ограничивающий контейнер */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Roboto';
}

.header__logo {
  text-align: center;
}

.header__title {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin: 0 0 50px 0;
  padding: 0 0 20px 0;
  position: relative;
}

.header__title::after {
  content: '';
  width: 14%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 43%;
  background-color: red;
}

.title {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  width: 60%;
  padding: 0 0 20px 0;
}

.info__item {
  margin: 0 0 5px 0;
}

.info__label {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 10px 0px 0;
}

.info__field {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
}

.target {
  width: 60%;
  padding: 0 0 20px 0;
}

.target__item {
  margin: 0 0 5px 0;
}

.target__checkbox {
  margin: 0px 7px 0 0;
}

.target__label {
  cursor: pointer;
}

.target span {
  font-size: 16px;
}

.expirience {
  width: 60%;
  padding: 0 0 20px 0;
}

.expirience__item {
  margin: 0 0 5px 0;
}

.expirience__label {
  font-size: 16px;
  cursor: pointer;
}

.expirience__radio {
  margin: 0px 7px 0 0;
}

.expirience__type {
  border-bottom: 1px solid #d1d1d1;
  font-size: 16px;
  text-align: center;
}

.antropometr {
  width: 60%;
  padding: 0 0 20px 0;
}

.antropometr__imt {
  margin: 0 0 10px 0;
}

.antropometr__item {
  margin: 0 0 5px 0;
}

.antropometr__label {
  font-size: 16px;
  cursor: pointer;
}

.antropometr__vaule {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
}

.antropometr__excurtion {
  margin: 0 0 10px 0;
}

.antropometr__subtitle {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.antropometr__body {
  margin: 0 0 10px 0;
}

.antropometr__radio {
  margin: 0 7px 0px 0;
}

.antropometr__fat {
  margin: 0 0 10px 0;
}

.functional {
  width: 60%;
}

.functional__item {
  margin: 0 0 5px 0;
}

.functional__label {
  font-size: 16px;
}

.functional__value {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d1d1d1;
}

/* Адаптив */
/* Адаптивный контейнер */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}
